<h1>Currency Converter</h1>
<form action="/convert">
<table cellpadding="2" cellspacing="2">
    <tr>
<td><label for="dollars">Amount of dollars :</label></td>
<td><input type="number" name="dollars" id="dollars" required></td>
</tr>
<tr>

<td><label for="to_currency">Converter to</label></td>
<td><select name="to_currency" id="to_currency">
    <option value="EUR">EURO</option>
    <option value="JPY">Japanese Yen</option>
    <option value="GBR">Great Britain</option>
    <option value="NGR">Nigeria</option>
</select>
</td>
</tr>
<tr>
    <td>
<button type="submit">Converter</button>
</td>
<td></td>
</tr>
</table>
</form>